.title {
    color: black;
    height: 3em;
    display: block;
}

.card {
    padding: 1em;
    border-radius: 1em;
    padding-bottom: 2em;
    background-color: white;
    margin-bottom: 1em;
}

body {
    background-color: rgba(166, 160, 159, .2);
}

.likes {
    text-align: center;
    margin-top: 2em;
}

.jumbotron {
    background-color: rgba(79, 201, 150, 0.6);
    /* padding-top: 1.5em;
    padding-bottom: 1.5em; */
}